<!-- <infors #infors></infors> -->
<div class="card my-5">
    <div class="card-body">
        <h3 class="card-title text-center py-3">{{ title }} {{myObj.id}} : {{ myObj.to }}</h3>
        <form (ngSubmit)="onSubmit()" #msgForm="ngForm">

            <div class="form-group">
                <label for="msg">Msg</label>
                <input type="text" placeholder="Enter your msg" [(ngModel)]="myObj.msg" class="form-control" id="msg" name="msg" required #msg="ngModel">
            </div>
            <div [hidden]="msg.valid" class="alert alert-danger">{{utils.tr('app.compo.msg.form.msgRequired')}}</div>

            <div class="form-group">
                <label for="type">{{utils.tr('app.compo.msg.form.type')}}</label>
                <input type="text" placeholder="Enter your type" [(ngModel)]="myObj.type" class="form-control" id="type" name="type">
            </div>

            <div class="form-group">
                <label for="typeId">{{utils.tr('app.compo.msg.form.typeId')}}</label>
                <input type="number" [(ngModel)]="myObj.typeId" class="form-control" id="typeId" name="typeId">
            </div>

            <div class="form-group">
                <label for="from">{{utils.tr('app.compo.msg.form.from')}}</label>
                <input type="text" placeholder="Enter your from" [(ngModel)]="myObj.from" class="form-control" id="from" name="from" required #from="ngModel">
            </div>
            <div [hidden]="from.valid" class="alert alert-danger">{{utils.tr('app.compo.msg.form.fromRequired')}}</div>

            <div class="form-group">
                <label for="to">To</label>
                <input type="text" placeholder="Enter your to" [(ngModel)]="myObj.to" class="form-control" id="to" name="to" required #to="ngModel">
            </div>
            <div [hidden]="to.valid" class="alert alert-danger">{{utils.tr('app.compo.msg.form.toRequired')}}</div>

            <div class="form-group">
                <label for="isReadByTo">{{utils.tr('app.compo.msg.form.isReadByTo')}}</label>
                <input type="text" placeholder="Enter your isReadByTo" [(ngModel)]="myObj.isReadByTo" class="form-control" id="isReadByTo" name="isReadByTo">
            </div>


            <button type="submit" id="btn-msg-form-list" [disabled]="!msgForm.form.valid" class="btn btn-info">{{btnSaveTitle}}</button>
            <li class="list-inline-item">
                <a> </a>
            </li>
            <li class="list-inline-item"><a [routerLink]="['/msg_list']" class="btn btn-info">{{utils.tr('app.compo.msg.form.listMsgs')}}</a></li>
        </form>
    </div>
</div>
