<!-- <h5>Choix de date debut et fin</h5> -->
<form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>{{utils.tr('app.compo.datePicker.dateRange')}}</mat-label>
        <mat-date-range-input [rangePicker]="myDateRangePicker" formGroupName="myDateRange">
            <input matStartDate formControlName="startDate" placeholder="{{utils.tr('app.compo.datePicker.startDate')}}"  id="startDate" #dateRangeStart>
            <input matEndDate formControlName="endDate" placeholder="{{utils.tr('app.compo.datePicker.endDate')}}" id="endDate" #dateRangeEnd (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="myDateRangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #myDateRangePicker></mat-date-range-picker>

        <mat-error *ngIf="myForm.get('myDateRange').get('startDate')?.hasError('matStartDateInvalid')">
          {{utils.tr('app.compo.datePicker.invalidStartDate')}}
        </mat-error>
        <mat-error *ngIf="myForm.get('myDateRange').get('endDate')?.hasError('matEndDateInvalid')">
          {{utils.tr('app.compo.datePicker.invalidEndDate')}}
        </mat-error>
    </mat-form-field>
</form>

<!-- <form [formGroup]="myForm">
    <mat-form-field appearance="fill">
      <mat-label>Date Range</mat-label>
      <mat-date-range-input [rangePicker]="myDateRangePicker" formGroupName="myDateRange">
        <input matStartDate formControlName="start-date" placeholder="{{utils.tr('app.compo.datePicker.startDate')}}" id="startDate" #dateRangeStart>
        <input matEndDate formControlName="end-date" placeholder="{{utils.tr('app.compo.datePicker.endDate')}}" id="endDate" #dateRangeEnd (dateChange)="dateRangeChange(dateRangeStart, dateRangeEnd)">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="myDateRangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #myDateRangePicker></mat-date-range-picker>
      <mat-error *ngIf="myDateRange?.invalid && (myDateRange?.dirty || myDateRange?.touched)">
        Both dates are required
      </mat-error>
    </mat-form-field>
  </form> -->
